#hike-details {
  position: absolute;
  bottom: 0;
  left: calc(50% + 300px / 2); /* 300px = width of left side panel */
  border: 1px solid black;
  width: 600px;
  margin-left: -300px;
  margin-bottom: 32px;
  background: white;
  padding: 8px;
  box-sizing: border-box;
}

#close-info-panel {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

#elevation-legend {
  position: absolute;
  right: 48px;
  margin-top: -24px;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  #hike-details {
    background: #242424;
    border-color: #999;
  }
  .dygraph-axis-label {
    color: #ddd !important;
  }
}