#hike-list, #hike-list * {
  box-sizing: border-box;
}

#hike-list {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  bottom: 0;
  border-right: 1px solid #eee;
  padding: 4px;
  overflow-y: auto;
}

.hike {
  border: 1px solid #eee;
  padding: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}
.hike.selected {
  background: #eee;
  border: 1px solid #ddd;
}

h1 {
  color: #444;
  margin: 0.25em 0.2em;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0.25em 0;
}

h2 a {
  text-decoration: none;
  color: #2a7ae2;
}

.date,
.stats {
  color: #777;
  font-size: 12px;
}

.peak {
  display: inline-block;
  background: #ddd;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
}

@media (prefers-color-scheme: dark) {
  .hike {
    border-color: #777;
  }
  .hike.selected {
    background: #242424;
    border: 3px solid #ddd;
  }
  .peak {
    background: #777;
    color: #ddd;
  }
}
