.hike-control-panel {
  width: 250px;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  padding: 4px;
  box-sizing: border-box;
  --border-color: #777;
}

.area-selector {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 0.25em;
}
.hike-area {
  padding: 0.25em 0.5em;
  margin-bottom: -1px;
}
.hike-area:not(.selected) {
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}
.hike-area.selected {
  font-weight: bold;
  border: 1px solid var(--border-color);
  border-bottom: 1px solid white;
}
.hike-option {
  padding: 0.25em 0;
}
label {
  padding-right: 0.25em;
}

.peak-group {
  margin-top: 8px;
  font-size: small;
}
.peak-group-peaks {
  padding-left: 8px;
}

.proposed-hikes {
  font-size: small;
}
.proposed-hikes ol {
  padding-left: 24px;
}
.proposed-hikes li {
  white-space: pre-line;
}

.hike-planner #map {
  left: 250px;
}
